.browsehappy {
    background: #ccc;
    color: #000;
    margin: 2rem 0;
    padding: 2rem 0;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

body {
    min-height: 100vh;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    &.disabled {
        pointer-events: none;
    }
}

.bricklayer-column {
    padding-left: 1rem;
    padding-right: 1rem;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.6) translateX(-0.1rem);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeLoop {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.inline {
    display: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.column-container {
    width: 100%;
    table-layout: fixed;
    margin: 0 auto;
}

.container1 {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.group-list {
    flex-grow: 1;
    padding: 1px 5px;
}

.ghost {
    opacity: .5;
    background-color: #c00;
    ;
}

.chosen {
    color: #fff;
    background-color: #c00;
}

.sup {
    display: flex;
}

.onethird {
    flex-grow: 1;
    width: 100%;
    margin: 5px;
}

.blockline {
    width: 100%;
    flex-grow: 1;
    height: 5px;
    background-color: whitesmoke;
    margin: 5px;
}

.newcolumn,
.inProgresscolumn,
.donecolumn {
    flex-grow: 1;
    background-color: whitesmoke;
    vertical-align: top;
    width: 100%;
}

.donecolumn {
    .issueTitle {
        text-decoration: line-through;
    }
}

.inProgresscolumn {
    margin: 0 10px;
}

.issuespart {
    border: 1px solid darkgray;
    border-right: 0;
    // min-height: calc(100vh - 84px);
    // max-height: calc(100vh - 84px);
}

.issueinfopart {
    .issueinfo {
        border: 1px solid darkgray;
        .title hr,
        .title p {
            display: inline-block;
            vertical-align: middle;
        }
        .name {
            display: inline-block;
            color: lightgray;
            margin-right: 10px;
        }
        .value {
            display: inline-block;
        }
    }
    .avatarImage {
        width: 30px;
        height: 30px;
        object-fit: fill;
    }
    .issueinfo-header {
        background-color: whitesmoke;
        p {
            margin: 0;
        }
    }
}

.loading {
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style-type: none;
}

.inline {
    h5,
    p {
        display: inline;
    }
}

.my-handle {
    cursor: move;
}

.allissues {
    .Collapsible {
        background-color: white;
    }
    .Collapsible__contentInner {
        border-top: 0;
    }
    .Collapsible__contentInner p {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
    }
    .Collapsible__contentInner p:last-child {
        margin-bottom: 0;
    }
    .Collapsible__trigger {
        display: block;
        font-weight: 400;
        text-decoration: none;
        color: #333333;
        position: relative;
        border: 1px solid white;
        padding: 10px;
        background: #00ac9d;
        color: white;
    }
    .Collapsible__trigger:after {
        font-family: 'FontAwesome';
        content: '\f107';
        position: absolute;
        right: 10px;
        top: 10px;
        display: block;
        transition: transform 300ms;
    }
    .Collapsible__trigger.is-open:after {
        transform: rotateZ(180deg);
    }
}

hr.style1 {
    margin-bottom: 20px;
    margin-right: 50px;
    border-top: 1px solid #8c8b8b;
}

hr.style1::after {
    display: inline-block;
    position: relative;
    top: -12px;
    left: 20px;
    padding: 0 3px;
    background: white;
    color: #000;
    font-size: 18px;
}

.Title::after {
    content: 'Title';
}

.Details::after {
    content: 'Details';
}

.People::after {
    content: 'People';
}

.Dates::after {
    content: 'Dates';
}

.Description::after {
    content: 'Description';
}

.Comments::after {
    content: 'Comments';
}

.Attachments::after {
    content: 'Attachments';
}

.Sub-tasks::after {
    content: 'Sub-tasks';
}

.navbar{
    margin-bottom: 0;
}